{% extends '_base.html' %}

{% block content %}
<div class="nav-container">
    {% if request.user.is_authenticated %}
<p>{{request.user}}</p>
<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Logout" class="butt-style">
</form>
</div>


{% else %}
<a href="{% url 'login' %}">Login</a>
{% endif %}

<h1>Task lists</h1>
<a href="{% url 'task_create' %}">Add task</a>

<form method="GET">
    <input type="text" name="search-area" id="">
    <input type="submit" value="Search">
</form>

<table>
    <tr>
        <th>Item</th>
    </tr>
    {% for task in task_list %}
    <tr>
        <td>{{task.title}}
            <a href="{%url 'task_detail' task.id%}">View</a>
            <a href="{%url 'task_update' task.id%}">Update</a>
            <a href="{%url 'task_delete' task.id%}">Delete</a>
        </td>
    </tr>
    {% empty %}
    <h3>No items</h3>
    {% endfor %}
</table>

{% endblock content %}